[submodule "common"]
	path = common
	url = https://github.com/aloneguid/common
[submodule "grey"]
	path = grey
	url = https://github.com/aloneguid/grey
[submodule "bt/ext/lsignal"]
	path = bt/ext/lsignal
	url = https://github.com/cpp11nullptr/lsignal
[submodule "bt/ext/WinToast"]
	path = bt/ext/WinToast
	url = https://github.com/mohabouje/WinToast
