[Desktop Entry]
Type=Application
Name=Browser Tamer
Exec=bt %u
Icon=bt
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Comment=Browser Tamer helps you choose the right browser for each URL.
